*{
    font-family: Arial, Helvetica, sans-serif;
}

.contenedor{
    min-height: 400px;
    background-color: #869292;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
   
   
}
.elemento{

    height: 200px;
    width: 200px;
    background-color: #821b1b;
    border-color: #fff;
    border-width: 5px;
    border-style: solid;
    padding: 10px;
}